<tr class="border-b min-h-12 py-3">
  <td class="py-4 px-4 text-white font-semibold text-sm text-center">
    <%= start_index + fluctuation_counter + 1 %>
  </td>
  <td class="py-4 px-4 text-white font-semibold text-sm">
    <%= fluctuation.name %>
  </td>
  <td class="py-4 px-4 text-white font-semibold text-sm">
    <%= fluctuation.start_date %>
  </td>
  <td class="py-4 px-4 text-white font-semibold text-sm">
    <%= fluctuation.end_date %>
  </td>
  <td class="py-4 px-4 text-white font-semibold text-sm">
    <%= fluctuation.rate %>
  </td>
  <td class="py-4 px-4 text-white font-semibold text-sm">            
    <div class="flex items-center">
      <button class="top-4 right-4 bg-green-700 hover:bg-orange-400 text-white py-2 px-6 rounded-full text-sm font-semibold">
        <%= link_to fa_icon("eye"), admin_price_fluctuation_path(fluctuation) %>
      </button>
      </div>
    </div>
  </td>
</tr> 
