<h1><%= t "hi" %><%= @user.username %></h1>
<p><%= t "mess_rejected" %></p>
<p><%= @request.start_date %> - <%= @request.end_date %> : <%= @request.room_type.name %></p>
<p><%= @request.reject_reason%></p>
