<h1><%= t "hi" %><%= @user.username %></h1>
<p><%= t "mess_accepted" %></p>
<p><%= @request.start_date %> - <%= @request.end_date %> : <%= @request.room_type.name %> - <%= @request.room.room_number %></p>
