<h1 class="text-3xl font-bold mb-6"><%= t "rooms.title2" %></h1>
<div class="flex justify-between items-center mb-6">
  <div>
    <button id="open-modal" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 flex items-center">
      <i class="fas fa-plus mr-2"></i>
      <%= t "rooms.new_room" %>
    </button>
  </div>
</div>

<div id="modal" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center hidden">
  <div class="bg-white p-6 rounded-md w-1/3 relative">
    <button id="close-modal" class="absolute top-2 right-2 text-gray-500 hover:text-gray-700">
      <i class="fas fa-times"></i>
    </button>
    <h2 class="text-xl font-semibold mb-4 text-black"><%= t "form_create_room" %></h2>
    <%= form_with(model: [:admin, Room.new], local: true) do |form| %>
      <div class="mb-4 text-black">
        <%= form.label :room_number, t("rooms.room_number"), class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_field :room_number, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>
      <div class="mb-4 text-black">
        <%= form.label :description, t("rooms.description"), class: "block text-sm font-medium text-gray-700" %>
        <%= form.text_area :description, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>
      <div class="mb-4 text-black select-black-text">
        <%= form.label :status, t("rooms.status"), class: "block text-sm font-medium text-gray-700" %>
        <%= form.select :status, [[t("rooms.active"), "active"], [t("rooms.inactive"), "inactive"]], class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>
      <div class="mb-4 text-black select-black-text">
        <%= form.label :room_type_id, t("rooms.room_type"), class: "block text-sm font-medium text-gray-700" %>
        <%= form.collection_select :room_type_id, RoomType.all, :id, :name, { prompt: t("rooms.select_room_type") }, class: "mt-1 block w-full border-gray-300 rounded-md shadow-sm" %>
      </div>
      <%= form.submit t("create_room"), class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" %>
    <% end %>
  </div>
</div>

<div class="flex flex-col">
  <ul class="rooms grid grid-cols-2 gap-4 w-2/3 ml-auto mr-16 h-full">
    <%= render @rooms %>
  </ul>
  <%== pagy_nav(@pagy) %>
</div>
