<p><%= t "hi" %> <%= @resource.email %>!</p>

<p><%= t "requested_changed_password" %></p>

<p><%= link_to t("change_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "ignore_if_not_want_change" %></p>
