<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black pb-[60px] flex h-full">
    <div class="flex flex-col mx-auto size-full">
      <%= render "user/layouts/header" %>
        <% flash.each do |message_type, message| %>
          <% bg_color = case message_type.to_sym
                      when :notice then "bg-green-500"
                      when :alert then "bg-red-500"
                      when :info then "bg-blue-500"
                      when :warning then "bg-yellow-500"
                      else "bg-gray-500"
                      end %>
          <div class="<%= bg_color %> text-white p-4 rounded mb-4 text-center w-full">
            <%= message %>
          </div>
        <% end %>
      <main id="content">
        <%= yield %>
      </main>
      <%= render "user/layouts/footer" %>
    </div>
  </body>
</html>
