<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-black pb-[60px] flex h-full">
    <div class="flex flex-col mx-auto size-full">
      <%= render "user/layouts/header" %>
      <% flash.each do |message_type, message| %>
        <div class="<%= flash_bg_color(message_type) %> text-white p-4 rounded mb-4 text-center">
          <%= message %>
        </div>
      <% end %>
      <main id="content">
        <%= yield %>
      </main>
      <%= render "user/layouts/footer" %>
    </div>
  </body>
</html>
